{% extends "dataviz2/base.html" %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="title">Bienvenue sur la plateforme de visualisation de données</h2>
    </div>
{% endblock %}
