{% extends "dataviz2/base.html" %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Importation des données</h1>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <input type="file" id="csv_file" name="file" class="btn btn-sm btn-outline-secondary">
            <small>Fichier CSV uniquement</small>
        </div>
        <div class="form-group d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"></div>
            <button type="submit" class="btn btn-primary">Charger le fichier CSV dans la base de données</button>
        </div>
    </form>


{% endblock %}